div.container {
    width: 100%;
   
}
nav {
    float: left;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    padding: 1em;
    overflow: hidden;
    font-family: "Tempus Sans ITC Regular";
    font-size: 38px;
    text-shadow: 0 0 7px #FF99FF;
    color: #33FFCC;
}
img {
    border-radius: 18px;
}



