<!--The content below is only a placeholder and can be replaced.-->
  <body>
    <div style="text-align:center">
        <table align="center">
            <tr>
              <th><a routerLink ="" style="color:#FF69B4;">User</a></th>
              <th><a routerLink ="about" style="color:#D8BFD8;">About Me</a></th>
              <th><a routerLink ="song" style="color:#97FFFF;">MY Song</a></th>
            </tr>
        </table>
     
      <h1>
          Welcome to {{title}}
      </h1>
      <router-outlet></router-outlet>
    </div>
    </body>


